<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="list.css">
        <link rel="stylesheet" href="../CreateItem/createItem.css">
        <link rel="stylesheet" href="../Login/login.css">
        <script src="list.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="list.controller.js"></script>
        <title>List Page</title>
    </head>
    <body  ng-app="myApp" ng-controller="ItemsController" onload="f()">
            <!-- <body  ng-app="" onload="f()"> -->
        <header>
            <h1 class="header-area">CHECK IT
                    <button class="logout-button" id="logout-button">LOGOUT</button>
                    <button id="myBtn" class="add-button btn btn-success btn-add" type="button" ng-click="setItemNameEmpty()">+</button>
            </h1>
        </header>
        <!-- MODAL -->
        <!-- The Modal -->
        <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-header">
            <span class="close">&times;</span>
            <form>
          </div>
          <div class="modal-body">
            <table>
                <tr class="table-row">
                    <td class="table-column">
                            <input type="input" placeholder="...Item" class="modal-input"   ng-model="newItemName" required>
                    </td>
                </tr>
            </table>
          
          </div>
          <div class="modal-footer">
                <input type="submit" value="SAVE" class="modal-button" ng-click="addItem()" id="save-button" ng-show="!isUpdateModal">
                <button class="modal-button" id="update-button" ng-show="isUpdateModal">UPDATE</button>
                <input type="reset" value="RESET" class="modal-button">
          </div>
        </div>
    </form>
      </div>
       
        <!-- MODAL  END -->
        <table class="item-table">
            <tr class="item-table-row" ng-repeat="item in items" id="{{item.id}}">
                <td class="item-table-column">
                        <a href="#" id="itemLink" ng-click="updateItem($index)" class="listItem">{{item.title}}</a>
                </td>
                <td class="item-table-column">
                        <button id="myRemoveBtn" class="delete-item remove-button btn btn-danger btn-remove" type="button" ng-click="deleteItem($index)")>-</button>
                </td>
            </tr>
        </table>
    </body>
</html>